# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/
env/
ENV/

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build
dist/
build/

# Logs
*.log

# Frontend
frontend/node_modules/
frontend/.next/
